/* variables */

:root {
    --color-primary: #0970c4;
    --color-primary-inverse: #fff;
    --color-gray-darkest: #111;
    --color-gray-dark: #666;
    --color-gray-ligher: #ddd;
    --color-gray-lightest: #eee;
}

/* Root */

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font: 400 1rem/1.5 sans-serif;
    background: var(--color-gray-lightest);
    color: var(--color-gray-darkest);
}
input, textarea, select, button {
    padding: 1rem;
    border: 1px solid #ddd;
    background: #fff;
    color: inherit;
    font: inherit;
}
button {
    padding: 0.75rem;
}
button span {
    padding: 0 0.25rem;
}
a {
    color: var(--color-primary);
}
img {
    display: block;
    max-width: 100%;
}

/* Type */

h1,h2,h3,h4,h5,h6,ul,ol,table,p {
    margin: 1em 1rem 1rem;
    font-weight: inherit;
}

/* Scalers */

.small {
    font-size: 0.875em;
}
.muted {
    color: var(--color-gray-dark);
}

/* Helpers */

.list-unstyled {
    padding: 0;
    list-style: none;
}
.list-inline {
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem;
}
.list-inline li {
    margin: 0.25rem;
}
.list-no-margin,
.list-no-margin li {
    margin: 0;
}

.m-0 {
    margin: 0;
}


.border {
    border: 0px solid #ddd;
}
.border--full {
    border-width: 1px;
}
.border--top {
    border-top-width: 1px;
}
.border--bottom {
    border-bottom-width: 1px;
}

/* Grid */

.wrapper {
    max-width: 96rem;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/*
    xs: 0
    sm: 384+ (16rem)
    md: 768+ (48rem)
    lg: 1024+ (64rem)
    xl: 1536+ (96rem)
*/

.col {
    width: 100%;
}
@media(min-width: 16rem) {
    .col-sm--8 {
        width: 66.666666%;
    }
    .col-sm--4 {
        width: 33.333333%;
    }
}
@media(min-width: 48rem) {
    .col-md--8 {
        width: 66.666666%;
    }
    .col-md--4 {
        width: 33.333333%;
    }
}
@media(min-width: 64rem) {
    .col-lg--8 {
        width: 66.666666%;
    }
    .col-lg--4 {
        width: 33.333333%;
    }
}
@media(min-width: 96rem) {
    .col-xl--8 {
        width: 66.666666%;
    }
    .col-xl--4 {
        width: 33.333333%;
    }
}

/* Components */

/* Components -> Buttons */

.btn {
    display: inline-block;
    padding: 0.75em;
}
.btn span {
    display: block;
    margin: 0 0.25em;
}
.btn--primary {
    background: var(--color-primary);
    color: var(--color-primary-inverse);
    text-decoration: none;
}
.btn--block {
    width: 100%;
    text-align: center;
}
.btn--block + .btn--block {
    margin: 0.5rem 0 0;
}
.btn--small {
    font-size: 0.8em;
}

/* Components -> Stamp */

.stamp {
    width: 4rem;
    border-radius: 50%;
    background: green;
    text-align: center;
}
.stamp span {
    position: relative;
    display: block;
    padding-bottom: 100%;
}
.stamp img {
    position: absolute;

    width: 100%;
    border-radius: 50%;
}

/* Components -> Entry field */

.entry-field {
    width: 100%;
    text-align: left;
}

/* Components -> media */

.media {
    margin: 1rem;
}
.media > * {
    margin: 0;
}
.media a {
    text-decoration: none;
}
.media__stamp {
    float: left;
    width: 3rem;
    margin-right: 0.5rem;
}

/* Components -> section */

.section__header {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.section__title {
    margin: 1rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

/* Components -> Card */

.card {
    margin: 1rem;
    background: #fff;
    border: 1px solid #ddd;
}
.card__cover {
    margin: 0;
}
.card__block {
    overflow: hidden;
}
.card__block + .card__block {
    border-top: 1px solid #ddd;
}

/* Layout */

.topbar-spacer,
.topbar {
    height: 48px;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: var(--color-primary);
    color: var(--color-primary-inverse);
}